<div class="details">
  <div class="section">
    <h2>Plot</h2>
    <p>{{ movie.Plot }}</p>
  </div>
  <div class="section">
    <h2>Director</h2>
    <p>{{ movie.Director }}</p>
    <h2>Writer</h2>
    <p>{{ movie.Writer }}</p>
    <h2>Actors</h2>
    <p>{{ movie.Actors }}</p>
  </div>
  <div class="section">
    <h2>Details</h2>
    <p><strong>Language:</strong> {{ movie.Language }}</p>
    <p><strong>Country:</strong> {{ movie.Country }}</p>
    <p><strong>Awards:</strong> {{ movie.Awards }}</p>
    <p><strong>Box Office:</strong> {{ movie.BoxOffice }}</p>
    <p><strong>IMDb Rating:</strong> {{ movie.imdbRating }}</p>
    <p><strong>Metascore:</strong> {{ movie.Metascore }}</p>
  </div>
</div>
